<ion-content  class="ion-padding"> 
  <div class="general"> 
    <div class="logo"> 
      <img src="../../assets/logo.jpg" alt=""> 
    </div> 
    <br> 
    <div class="texto"> 
      <ion-label id="titulo">Bienvenido a PSY</ion-label> 
      <br>
      <ion-label id="subTitulo">Tu compañía emocional en un solo lugar</ion-label>
    </div>
    <br>
    <br>
    <a href="/login">
      <div class="comenzar">
        <ion-button class="boton" shape="round">
          <ion-label>Comencemos</ion-label>
        </ion-button>
      </div>
    </a>
    <br><br>
    <div class="iSesionCon">
      <div class="or">
        <div class="rectangle-2"></div>
        <div class="inicia-con">Terminos y Condiciones</div>
        <div class="rectangle-1"></div>
      </div>
      <br><br>
      <div class="texto"><!-- muestra el texto inferior en el que esta el hiperbinculo para moverse al registro de sesion  -->
        <ion-label>¿Aún no tienes una cuenta? </ion-label>
        <a href="sign-up"><ion-label>Sign up</ion-label></a><!--  vinculo para dirigirse a la pagina de registro -->
      </div>
    </div>
  </div>
</ion-content>