.chat-item{
  --padding-top: 10px;
  --padding-bottom: 10px;
  
  &.bot{
    --background: transparent;
  }
}

.text-box-item{
  --border-radius: 15px;
  --background: var(--ion-color-light); 
}
ion-badge{
  padding: 0px;
}

.w-space{
  white-space: pre-line;
}

.submit-icon{
  font-size: 25px;
}

.empty{
  text-align: center;
  padding-top: 25vh;
  opacity: 30%;
  ion-icon {
    font-size: 120px;
  }
}

.chat-icon {
  width: 30px; /* Ajusta el ancho según tus necesidades */
  height: 30px; /* Ajusta la altura según tus necesidades */
  background-size: cover; /* Ajusta la propiedad según tus necesidades */
  --background: var(--ion-color-light); 
}


.regresar {
  display: flex;
  align-items: center;
  margin-right: auto; /* Esto empujará el elemento a la izquierda */
}

.regresar img {
  width: 30px; /* Ajusta el ancho de la imagen según lo necesites */
  height: auto; /* Esto mantendrá la proporción de la imagen */
}

.chat-item.user {
  --background: var(--ion-color-light);
}

/* Establece el color de fondo transparente para los mensajes del bot */
.chat-item.bot {
  --background: transparent;
}

.chat-item.user {
  --background: var(--ion-color-light);
}
